.item
{
    padding: 12px;
    background-color: lightgray;
    border: 1px solid black;
}

.way-one-container
{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;    /*1fr 1fr 1fr 1fr 1fr*/

}
.header
{
    /*not include end*/
    grid-column:1/4 ;
    background-color: lightskyblue;
}
.sidebar
{
    grid-column: 1/2;
    background-color: lightsalmon;
}
.content
{
    grid-column: 2/4;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content .three
{
    grid-column: 1/3;

}

.footer
{
    grid-column: 1/4;
    background-color: lightpink;
}

@media screen and (max-width:550px) {
    .way-one-container
    {
        grid-template-columns: 1fr;
    }
    .header,
    .sidebar,
    .content,
    .footer
    {
        grid-column: 1/2;
    }
      .content
    {
        grid-template-columns: 1fr;
    }
    .content .three
    {
        grid-column: 1/2;
    }  
   
}

.way-two-container
{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /*1fr 1fr 1fr 1fr 1fr*/
     grid-template-areas: 
    "header header header "
    "sidebar content content  "
    "footer footer footer"
     ; 
 } 

 .header-two
{
    grid-area:header ;
    background-color: lightcoral;
}  

.sidebar-two
{
    grid-area: sidebar;
    background-color: lightseagreen;
}
 .content-two
{
     grid-area: content;
     background-color: lightgreen;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-areas: 
     "one two" 
     "three three" 
    ; 


 } 
 .footer-two
{
    grid-area: footer;
} 
 .three-three
{
    grid-area: three;
} 

    @media screen and (max-width: 550px){

        .way-two-container
        {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "header"
            "sidebar"
            "content"
            "footer"
            ;
        }
        .content-two
        {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "one"
            "two"
            "three"
            ;
        }
        
    }